.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(43, 45, 49);
    width: 240px;
    height: 100vh;
}

.searcharea{
    display: flex;
    align-items: center;
    width: 220px;
    height: 48px;
    background-color: rgb(43, 45, 49);
    border-bottom: 1px solid black;
}

.searchbar {
    background-color: rgb(30, 31, 34);
    color: rgb(148, 155, 164);
    padding: 1px 6px;
    border: none;
    border-radius: 5px;
    width: 220px;
    height: 28px;
    text-align: left;
    cursor: pointer;
}

.item{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 216px;
    font-size: 16px;
    padding: 0px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.item svg{
    margin: 0px 12px 0px 0px;
    height: 32px;
    width: 32px;
}

.item span{
    width: 156px;
    height: 20px;
}

.item:hover{
    background-color: rgba(78, 80, 88, 0.6);
}

#newMsg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#newMsg{
    padding: 18px 8px 4px 18px;
    width: 188px;
    height: 18px;
}

#newMsg svg{
    height: 16px;
    width: 16px;
}

.item img{
    border-radius: 100%;
}

